@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

.navBar a{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* #storydiv div div div{
    width: 100%;
} */
.story-css{
    right: -5%;
    left: -5%;
    z-index: 1000;
}